{% extends "base.html" %}
{% load extras %}

{% block content %}
<h2>{{ course.name }}</h2>

{% if course.description %}
    <p>{{ course.description }}</p>
{% endif %}

<h3>Lessons by level</h3>

{% regroup course.lessons.all by level as levels %}

{% for group in levels %}
    <h4>{{ group.grouper }}</h4>
    <ul>
        {% for lesson in group.list %}
            <li>
                <a href="{% url 'learning:lesson_detail' lesson.pk %}">
                    {{ lesson.order }}. {{ lesson.title }}
                </a>

                {% if progress_map and lesson.id in progress_map %}
                    <span style="color: green; font-weight: bold;">
                        ✔ ukończono ({{ progress_map|get_score:lesson.id }} pkt)
                    </span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endfor %}

<a href="{% url 'learning:course_list' %}">Back to courses</a>
{% endblock %}
