{% extends "base.html" %}

{% block content %}
<h2>{{ course.name }}</h2>

{% if course.description %}
    <p>{{ course.description }}</p>
{% endif %}

<h3>Lessons by level</h3>

{% regroup course.lessons.all by level as levels %}

{% for group in levels %}
    <h4>{{ group.grouper }}</h4>
    <ul>
        {% for lesson in group.list %}
            <li>
                <a href="{% url 'learning:lesson_detail' lesson.pk %}">
                    {{ lesson.order }}. {{ lesson.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endfor %}

<a href="{% url 'learning:course_list' %}">Back to courses</a>
{% endblock %}
